<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>
<% for (var i = 0; i < newPost.length; i++){ %>
    <h2><%= newPost[i].title %></h2>
    <p>
        <%= newPost[i].postContent.substring(0,100) + " ..." %>
        <a href="/posts/ <%= newPost[i].title %>">Read More</a>
    </p>
<% } %>

<%- include("partials/footer") -%> 
